#example .gitignore

#ignore everything
*

#whitelist main configuration
!configuration.yaml
!automations.yaml
!customize.yaml
!groups.yaml
!scenes.yaml
!scripts.yaml
!sensor.yaml

#whitelist yaml files in subdirectory integrations
!integrations/
!integrations/*.yaml

#whitelist esphome subdirectory 
# !esphome/
# !esphome/*.yaml
# !esphome/*.h

#whitelist documentation
!README.md
!LICENSE.md
!documentation/
!documentation/*.*
!documentation/images
!documentation/images/*.*