#example .gitignore

#ignore everything
*

#whitelist main configuration
!configuration.yaml
!automations.yaml
!customize.yaml
!groups.yaml
!scenes.yaml
!scripts.yaml
!sensor.yaml

#whitelist config files in subdirectory integrations
!appdaemon/
!appdaemon/**
!custom_components
!custom_components/**
!blueprints
!blueprints/**
!packages
!packages/**
!scripts
!scripts/**
!themes
!themes/**
!www
!www/**

#whitelist esphome subdirectory 
# !esphome/
# !esphome/*.yaml
# !esphome/*.h

#whitelist documentation
!README.md
!LICENSE.md
!documentation/
!documentation/**

#whitelist dashboard directory and files
!dashboard
!dashboard/*.yaml

#ignore the YERP! component until it's actually doing some things
custom_components/yerp